name: CI - Maven and Image build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Docker login
      run: docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ github.token }}
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B verify --file pom.xml
    # workaround for user's that have uppercase letters in their names
    # source: https://github.com/orgs/community/discussions/27086
    - name: Set lower case owner name
      run: |
        echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
      env:
        OWNER: '${{ github.repository_owner }}'
    - name: Build the Docker image
      run: docker build . -t ghcr.io/${{env.OWNER_LC }}/cubix/cloudnative5/db:latest
    - name: Push the Docker image
      run: docker push ghcr.io/${{ env.OWNER_LC }}/cubix/cloudnative5/db:latest
